{
	"singleQuote": true,
	"trailingComma": "es5",
	"semi": false,
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 160,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"jsxSingleQuote": true,
	"htmlWhitespaceSensitivity": "strict",
	"quoteProps": "as-needed",
	"ignorePath": ".prettierignore",
	"embeddedLanguageFormatting": "auto"
}
