@import '../../assets/styles/_variables.scss';

.home {
	&__title {
		color: $text-white-color;
		padding: 2rem 0;
		text-align: center;
	}

	.hero-box {
		display: flex;
		align-items: center;
		gap: 4rem;

		&__image {
			width: 60%;
			height: 40%;
			border-radius: 8px;
		}

		&__paragraph {
			color: $text-gray-color;
			padding: 1rem 0;
		}
	}
}
