@import '../../assets/styles/_variables.scss';

.profiles {
	color: $text-white-color;
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
}

.loading {
	width: 40px;
	height: 40px;
	border: 4px solid $text-gray-color;
	border-top-color: $primary-color;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	margin: 50px auto;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
