@import '../../assets/styles/_variables.scss';

.header {
	width: 100%;
	padding: 2rem 0;
	background-color: $primary-color;
	display: flex;
	justify-content: center;
	align-items: center;

	&__container-logo {
		display: flex;
		align-items: center;
		width: 80%;

		> .header__logo {
			color: $text-white-color;
		}

		.header__container-menu {
			margin-left: auto;

			> .header__menu {
				list-style: none;
				display: flex;
				justify-content: flex-end;
				gap: 4rem;
				color: $text-white-color;

				.header__link {
					color: $text-white-color;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
